.H {
  background-color: white;
  height: 70px;
  width: 100%; 
  border-bottom: 1px solid #CCCCCC;
}
.H .logo {
  height: inherit;
  width: inherit;
  margin-left: 20px;
  background: url("https://s3.amazonaws.com/intranet-projects-files/holbertonschool-higher-level_programming+/268/logo.png");
  background-repeat: no-repeat;
  background-position: 0 50%;
}
